* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/catalina.jpg");
    background-position-x: center;
    background-position-y: 45%;
    background-size: 110%;
}

main {
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(25px);
    padding: 50px;
    border-radius: 15px;
    border: 4px #fff solid;
}

button {
    width: 50px; height: 50px;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    background-color: #fff;
}

#operationResult {
    /* width: 100vw; */
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
    border: 0;
    display: flex;
    padding: 0 0 0 30px;
    align-items: center;
    margin-bottom: 5px;
}